[^.]*
.*

# explicitly include
!.spacemacs
!.config
!.vim
!.vimrc
!.ctags
!.git
!.profile.fish
!.alias.fish
!.config/omf
!.config/fish
!.config/iterm2
!.config/gh
!.config/omf/*
!.config/fish/*
!.config/gh/*
