[^.]*
.*

# explicitly include
!.spacemacs
!.config
!.vim
!.vimrc
!.ctags
!.git
!.profile.fish
!.alias.fish
!.config/omf
!.config/fish
!.config/iterm2
!.config/omf/*
!.config/fish/*
!com.googlecode.iterm2.plist
!notification_placer.applescript
